<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <%- include("nav")%>
    <h1>Home Page</h1>

    <ul>
        <h3>Users List</h3>
        <% users.forEach(user => { %>
            
            <div id="user-dets">
                <a id="del" href="/delete/<%= user._id %>">❌</a>
                <a id="update" href="/update/<%= user._id%>">✏️</a>
                <a id="create-post" href="/post/create/<%= user._id%>">➕</a>
                <li>User Name: <%= user.name %></li>
                <li>User Email: <%= user.email %></li>
            </div>
            
            
       <% }) %>
    </ul>
    
</body>
</html>